.dFlex{
    height: 91px;
    background-color: #21222A;
    padding: 0 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dFlex a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .dFlex a img{
    width: 45px;
    height: 45px;
  }
  .dFlex h1{
    color: #61DAFB;
    font-size: 22.25px;
    font-weight: 700;
  }
  .dFlex h2{
    color: #DEEBF8;
    font-size: 16px;
    font-weight: 600;
  }
