

.App{
    font-family: 'Poppins', sans-serif;
    width: 550px;
    margin: 100px auto;
    border-radius: 8.95px;
    overflow: hidden;
    background-color: #fff;
}

.fWeight600{
    font-weight: 600;
}
.fWeight400{
    font-weight: 400;
}
.fWeight300{
    font-weight: 300;
}

.fSize36{
    font-size: 36px;
}
.fSize16{
    font-size: 16px;
}
.fSize14{
    font-size: 14px;
}
.fSize12{
    font-size: 12px;
}
.fSize10{
    font-size: 10.24px;
}
.pGray{
    color: #918E9B;
}