.App{
    font-family: 'Inter', sans-serif;
    color: white;
    width: 317px;
    margin: 100px auto;
    border-radius: 10px;
    overflow: hidden;
}

.fWeight700{
    font-weight: 700;
}
.fWeight500{
    font-weight: 500;
}
.fWeight400{
    font-weight: 400;
}
.roleColor{
    color: #F3BF99;
}
.fSize25{
    font-size: 25px;
}
.fSize18{
    font-size: 18px;
}
.fSize16{
    font-size: 16px;
}
.fSize14{
    font-size: 14px;
}
.fSize13{
    font-size: 12.8px;
}
.fSize10{
    font-size: 10.24px;
}
